.contactHeader {
    text-align: center;
    font-size: 100px;
    margin: 30px;
}

.navbar-collapse {
    justify-content: flex-end;
}

.mainNav {
    justify-content: flex-end;
    padding: 5px;
    font-size: 20px;
}

.mainCol {
    display: flex;
    justify-content: center;
}

.mainRow {
    margin-top: 50px;
}

.secondCol {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 40px;
    background-color: rgb(31, 29, 29);
    color: white;
    padding: 30px;
    font-size: medium;
    flex-direction: column;
    text-align: center;
    
   
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: white;
}

.footer {
    margin: 20px;
    position: fixed;
    bottom: 5px;
    
}

.btn {
    margin: 5px;
}

@media screen and (max-width: 600px) {

    .contactHeader {
        font-size: 3rem;
    }

}

